version: "3.7"

services:
  database_ignite:
    image: postgres
    container_name: database_carrent
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=senha123
      - POSTGRES_DB=carrent
    volumes:
      - pgdata:/data/postgres
  app:
    build: .
    container_name: car-rent
    ports: 
      - 3333:3333
      - 9229:9229
    volumes:
      - .:/usr/app
    links:
      - database_ignite
    depends_on:
      - database_ignite

volumes:
  pgdata:
    driver: local